<h1>Teste</h1>
<table class="table">
<tr>
<th>Chave</th>
<th>Valor</th>
</tr>
<%
var j;
for (j = 0; j < lista.length; j++) {
%>
<tr>
<td>
<%= lista[j]["chave"] %>
</td>
<td>
<%= lista[j]["valor"] %>
</td>
</tr>
<% } %>
</table>
